@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  src: local(Pretendard-Thin), url("../assets/fonts/Pretendard-Thin.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Thin.subset.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: local(Pretendard-Light), url("../assets/fonts/Pretendard-Light.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Light.subset.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: local(Pretendard-Regular), url("../assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Regular.subset.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: local(Pretendard-Medium), url("../assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Medium.subset.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: local(Pretendard-SemiBold), url("../assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: local(Pretendard-Bold), url("../assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Bold.subset.woff") format("woff");
  font-weight: 700;
}

#root {
  width: 100%;
}
#contents {
  display: flex;
  flex-direction: row;
}

/* 구글 아이콘을 위한 스타일 속성 */
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* 스크롤바 색상 */
  border-radius: 12px; /* 스크롤바 둥근 테두리 */
  background-clip: padding-box;
  border: 3px solid transparent;
}
::-webkit-scrollbar-track {
  background: var(--beige-color); /* 스크롤바 뒷 배경 색상 */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

@layer components {
  .input {
    @apply bg-white border border-zinc-300 px-4 rounded-lg w-full h-12;
  }
  .button {
    @apply flex items-center justify-center bg-teal-500 hover:bg-teal-600 text-white font-medium px-5 rounded-lg h-12 transition-all cursor-pointer;
  }
  .button-2xs {
    @apply text-sm rounded-md px-3 h-8;
  }
  .button-xs {
    @apply text-sm rounded-md px-4 h-9;
  }
  .button-sm {
    @apply h-10 rounded-md;
  }
  .button-white {
    @apply bg-white hover:bg-teal-100 text-teal-500 border border-zinc-300;
  }
  .button-border {
    @apply border bg-white hover:bg-zinc-200 text-zinc-500 border-zinc-300;
  }
  .text-button {
    @apply font-medium text-white hover:text-zinc-900 p-1 transition-all;
  }
  .no-list{
    @apply text-lg text-zinc-600 text-center p-4
  }
}

/* 사이드바 */
.sidebar {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  height: 100vh;
  transition: 0.2s;
}
.sidebar.closed {
  margin-left: -390px;
}

.search-input {
  position: relative;
}
.search-input > input {
  padding-right: 58px;
}
.search-input > button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.sidebar-container {
  width: 390px;
  height: 100%;
  background-color: #fff;
}
.sidebar-contents {
  height: calc(100vh - 152px);
  border-right: 1px solid #e4e4e7;
  overflow-y: auto;
}
.sidebar-open-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -29px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 30px;
  height: 60px;
  border: 1px solid #e4e4e7;
  border-left: 0;
  border-radius: 0 8px 8px 0;
  transition: all ease 0.4s;
  padding: 0;
}
.sidebar-open-btn:hover {
  background-color: #f4f4f5;
}
.sidebar-open-btn.closed .material-symbols-rounded {
  transform: rotate(-180deg);
}
.detail-wrap.open + .sidebar-open-btn {
  right: calc((29px + 390px + 24px) * -1);
}

.detail-wrap {
  position: absolute;
  top: 0;
  right: calc((100% + 24px) * -1);
  width: calc(100% + 24px);
  height: 100vh;
  padding: 24px 0 24px 24px;
}
.detail-container {
  position: relative;
  width: 390px;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px 24px 24px 24px;
  overflow-x: hidden;
}
.detail-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #71717a;
  border-radius: 0 8px 0 8px;
}
.detail-close:hover {
  background-color: #f4f4f5;
}

/* 카카오맵 */
.overlay-map {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  color: #fff;
  background-color: #71717a;
}
.overlay-map .arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  overflow: hidden;
}
.overlay-map .arrow::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: 0 0;
  width: 12px;
  height: 12px;
  background-color: #71717a;
}

.re-search {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.my-location-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: 52px;
  height: 52px;
  background-image: url("assets/images/my-location@2x.png");
  background-position: 50% 50%;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
