@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* 구글 아이콘을 위한 스타일 속성 */
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.map-container {
  position: relative;
}

.overlay {
  border: 1px solid #bbb;
  border-radius: 8px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 20px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #bbb;
  background-color: white;
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  bottom: 6px;
  left: 50%;
}

.place-name {
  font-size: 16px;
  padding: 10px 5px 10px 10px;
}

.detail-link {
  background-color: #f0ad4e; /* warning color */
  text-align: center;
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.detail-link img {
  width: 20px;
  height: 20px;
}

.search-btns {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyword-btn {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.875rem;
  color: white;
  background-color: #007bff; /* primary color */
}

.keyword-btn:hover {
  background-color: #f0ad4e; /* warning color */
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  bottom: 0;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
}
.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar-container {
  width: 390px;
  background-color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid #ddd; /* gray color */
  overflow-y: auto;
}

.sidebar-open-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  background-color: white;
  width: 30px;
  height: 80px;
  border: 1px solid #ddd;
  border-left: 0;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* .sidebar-open-btn.closed {
  right: -30px;
} */

.list {
  padding: 0;
}

.item {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #bbb;
  background-color: #f8f9fa; /* bgGray color */
}

.item:hover {
  background-color: #f8f9fa; /* bgGray color */
}

.name {
  font-size: 18px;
  color: #007bff; /* blue color */
  font-weight: 700;
  margin-bottom: 4px;
  max-width: 310px;
}

.category {
  color: #6c757d; /* txtColor */
  margin-bottom: 13px;
}

.address {
  font-size: 14px;
  margin-bottom: 5px;
}

.distance {
  margin-right: 10px;
}

.road-address {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #6c757d; /* txtColor */
}

.road-address img {
  width: 35px;
}

.info-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.division {
  margin-right: 10px;
  color: #6c757d; /* txtColor */
}

.phone-number {
  color: #28a745; /* green color */
}

.share-btn {
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #6c757d; /* secondary color */
  position: absolute;
  top: 20px;
  right: 20px;
}

.no-list {
  font-size: 18px;
  padding: 20px;
}

.pages {
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}

.page-btn {
  margin: 0 10px;
}

.page-btn.selected {
  color: #f0ad4e; /* warning color */
}

.detail-wrap {
  padding: 24px 0 24px 24px;
}
.detail-container {
  width: 390px;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.go-back-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: 55px;
  height: 55px;
  background: no-repeat white url("https://cdn-icons-png.flaticon.com/128/406/406217.png") center/contain;
  background-size: 70%;
  border-radius: 10px;
  border: 1px solid #6c757d; /* secondary color */
}
.go-back-txt {
  position: absolute;
  bottom: 30px;
  right: 80px;
  z-index: 10;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: #007bff; /* primary color */
}

.re-search {
  position: fixed;
  color: white;
  font-size: 14px;
  text-align: center;
  bottom: 80px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  background-color: #007bff; /* primary color */
}
